**Importing Necessary Libraries**

In [51]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [6]:
dataset = pd.read_csv('CC_Data.csv')
dataset.info()
# dataset = dataset.drop('ID',axis=0)
print(dataset)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30001 entries, 0 to 30000
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30001 non-null  object
 1   X1          30001 non-null  object
 2   X2          30001 non-null  object
 3   X3          30001 non-null  object
 4   X4          30001 non-null  object
 5   X5          30001 non-null  object
 6   X6          30001 non-null  object
 7   X7          30001 non-null  object
 8   X8          30001 non-null  object
 9   X9          30001 non-null  object
 10  X10         30001 non-null  object
 11  X11         30001 non-null  object
 12  X12         30001 non-null  object
 13  X13         30001 non-null  object
 14  X14         30001 non-null  object
 15  X15         30001 non-null  object
 16  X16         30001 non-null  object
 17  X17         30001 non-null  object
 18  X18         30001 non-null  object
 19  X19         30001 non-null  object
 20  X20         30001 non-null  object
 21  X21         30001 non-null  object
 22  X22         30001 non-null  object
 23  X23         30001 non-null  object
 24  Y           30001 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB
      Unnamed: 0         X1   X2         X3        X4   X5     X6     X7  \
0             ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2
1              1      20000    2          2         1   24      2      2
2              2     120000    2          2         2   26     -1      2
3              3      90000    2          2         2   34      0      0
4              4      50000    2          2         1   37      0      0
...          ...        ...  ...        ...       ...  ...    ...    ...
29996      29996     220000    1          3         1   39      0      0
29997      29997     150000    1          3         2   43     -1     -1
29998      29998      30000    1          2         2   37      4      3
29999      29999      80000    1          3         1   41      1     -1
30000      30000      50000    1          2         1   46      0      0

          X8     X9  ...        X15        X16        X17       X18       X19  \
0      PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2
1         -1     -1  ...          0          0          0         0       689
2          0      0  ...       3272       3455       3261         0      1000
3          0      0  ...      14331      14948      15549      1518      1500
4          0      0  ...      28314      28959      29547      2000      2019
...      ...    ...  ...        ...        ...        ...       ...       ...
29996      0      0  ...      88004      31237      15980      8500     20000
29997     -1     -1  ...       8979       5190          0      1837      3526
29998      2     -1  ...      20878      20582      19357         0         0
29999      0      0  ...      52774      11855      48944     85900      3409
30000      0      0  ...      36535      32428      15313      2078      1800

            X20       X21       X22       X23                           Y
0      PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1             0         0         0         0                           1
2          1000      1000         0      2000                           1
3          1000      1000      1000      5000                           0
4          1200      1100      1069      1000                           0
...         ...       ...       ...       ...                         ...
29996      5003      3047      5000      1000                           0
29997      8998       129         0         0                           0
29998     22000      4200      2000      3100                           1
29999      1178      1926     52964      1804                           1
30000      1430      1000      1000      1000                           1

[30001 rows x 25 columns]

In [95]:
def preprocess(data):
  data = data.copy()

  data = data.drop('Unnamed: 0',axis=1)
  # print(data)
  data = data.drop(index=0)
  X = data.iloc[:,:-1].copy()
  Y = data.iloc[:,-1].copy()


  scaler = StandardScaler()
  scaler2 = MinMaxScaler()

  X_1 = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
  X_2 = pd.DataFrame(scaler2.fit_transform(X), columns=X.columns)
  # print(data)
  return X_1,X_2,Y

In [96]:
X_1,X_2,Y = preprocess(dataset)
# print(dataset)
print(X_1)
print(Y)

             X1        X2        X3        X4        X5        X6        X7  \
0     -1.136720  0.810161  0.185828 -1.057295 -1.246020  1.794564  1.782348
1     -0.365981  0.810161  0.185828  0.858557 -1.029047 -0.874991  1.782348
2     -0.597202  0.810161  0.185828  0.858557 -0.161156  0.014861  0.111736
3     -0.905498  0.810161  0.185828 -1.057295  0.164303  0.014861  0.111736
4     -0.905498 -1.234323  0.185828 -1.057295  2.334029 -0.874991  0.111736
...         ...       ...       ...       ...       ...       ...       ...
29995  0.404759 -1.234323  1.451114 -1.057295  0.381275  0.014861  0.111736
29996 -0.134759 -1.234323  1.451114  0.858557  0.815221 -0.874991 -0.723570
29997 -1.059646 -1.234323  0.185828  0.858557  0.164303  3.574267  2.617654
29998 -0.674276 -1.234323  1.451114 -1.057295  0.598248  0.904712 -0.723570
29999 -0.905498 -1.234323  0.185828 -1.057295  1.140680  0.014861  0.111736

             X8        X9       X10  ...       X14       X15       X16  \
0     -0.696663 -0.666599 -1.530046  ... -0.667993 -0.672497 -0.663059
1      0.138865  0.188746  0.234917  ... -0.639254 -0.621636 -0.606229
2      0.138865  0.188746  0.234917  ... -0.482408 -0.449730 -0.417188
3      0.138865  0.188746  0.234917  ...  0.032846 -0.232373 -0.186729
4     -0.696663  0.188746  0.234917  ... -0.161189 -0.346997 -0.348137
...         ...       ...       ...  ...       ...       ...       ...
29995  0.138865  0.188746  0.234917  ...  2.326690  0.695474 -0.149259
29996 -0.696663 -0.666599  0.234917  ... -0.627430 -0.532924 -0.577691
29997  1.809921 -0.666599  0.234917  ... -0.638158 -0.347961 -0.324517
29998  0.138865  0.188746  0.234917  ...  0.422373  0.147844 -0.468063
29999  0.138865  0.188746  0.234917  ...  0.039667 -0.104582 -0.129669

            X17       X18       X19       X20       X21       X22       X23
0     -0.652724 -0.341942 -0.227086 -0.296801 -0.308063 -0.314136 -0.293382
1     -0.597966 -0.341942 -0.213588 -0.240005 -0.244230 -0.314136 -0.180878
2     -0.391630 -0.250292 -0.191887 -0.240005 -0.244230 -0.248683 -0.012122
3     -0.156579 -0.221191 -0.169361 -0.228645 -0.237846 -0.244166 -0.237130
4     -0.331482 -0.221191  1.335034  0.271165  0.266434 -0.269039 -0.255187
...         ...       ...       ...       ...       ...       ...       ...
29995 -0.384392  0.171250  0.611048 -0.012648 -0.113564  0.013131 -0.237130
29996 -0.652724 -0.231032 -0.103955  0.214255 -0.299828 -0.314136 -0.293382
29997 -0.327687 -0.341942 -0.256990  0.952725 -0.039964 -0.183229 -0.119001
29998  0.169130  4.844316 -0.109033 -0.229895 -0.185120  3.152536 -0.191904
29999 -0.395592 -0.216481 -0.178866 -0.215582 -0.244230 -0.248683 -0.237130

[30000 rows x 23 columns]
1        1
2        1
3        0
4        0
5        0
        ..
29996    0
29997    0
29998    1
29999    1
30000    1
Name: Y, Length: 30000, dtype: object

In [106]:
X_1_train, X_1_test, Y_train, Y_test = train_test_split(X_1,Y, train_size=0.8, random_state=123)
X_2_train, X_2_test, Y_train, Y_test = train_test_split(X_2,Y, train_size=0.8, random_state=123)

In [107]:
models = {
    LogisticRegression():                    "Logistic Regression",
    SVC():                                   "Support Vector Machine",
    DecisionTreeClassifier(random_state=42): "Decision Tree",
    RandomForestClassifier(n_estimators=100, random_state=42): "Random Forest Classifier"

}

for model in models.keys():
    model.fit(X_1_train, Y_train)

In [108]:
for model, name in models.items():
    print(name + ": {:.2f}%".format(model.score(X_1_test, Y_test) * 100))

Logistic Regression: 81.30%
Support Vector Machine: 81.97%
Decision Tree: 72.23%
Random Forest Classifier: 81.73%

In [109]:
NN_classifier = MLPClassifier()
NN_classifier.fit(X_2_train, Y_train)
accuracy = NN_classifier.score(X_2_test, Y_test)
print("Neural Network Accuracy: " + str(accuracy * 100) + "%")

Neural Network Accuracy: 82.01666666666667%